.footer {
  @include flex(
    $direction: column,
    $justifyContent: center,
    $alignItems: center
  );
  height: 350px;
  gap: 10px;
  background-color: $black;

  &__title {
    color: $footer-header-color;
    font-size: $font-size-m;
    text-transform: uppercase;
    text-align: center;
  }

  &__content {
    color: $footer-text-color;
    font-size: $font-size-s;
    line-height: 20px;
    text-align: center;
    width: 74%;
  }

  &__icons {
    @include flex(
      $direction: row,
      $justifyContent: center,
      $alignItems: center
    );
  }
  &__icon {
    @include flex(
      $direction: row,
      $justifyContent: center,
      $alignItems: center
    );
    border-radius: 50%;
    @include space($type: padding, $sizeTwo: $space-xs-2 $space-sm-1);
    height: auto;
    @include space($type: margin, $size: $space-xs-1);
    position: relative;
    border: 2px solid;
  }

  &__icon:nth-child(1) {
    border-color: $wifi;
  }

  &__icon:nth-child(2) {
    border-color: $facebook;
  }

  &__icon:nth-child(3) {
    border-color: $twitter;
  }

  &__icon:nth-child(4) {
    border-color: $dribble;
  }

  &__icon:nth-child(5) {
    border-color: $pinterest;
  }

  &__contact {
    color: $footer-text-color;
    font-size: $font-size-m;
    width: 70%;
    text-align: center;
    line-height: 24px;
  }
}
