ul li a {
  color: $title-color;
}

.navbar-menu {
  @include space($type: margin, $direction: top, $size: $space-sm-2);

  &__list {
    display: none;
  }
  &__item {
    @include space($type: padding, $sizeAll: $space-xs-2);

    &:hover {
      cursor: pointer;
      background-color: $list-hover;
    }
  }
  &__link--active {
    color: $active;
  }
}

.burger {
  @include flex(
    $direction: row,
    $justifyContent: flex-end,
    $alignItems: center
  );
  cursor: pointer;
  position: relative;
  width: 90%;

  @include space($type: margin, $sizeTwo: $space-auto);

  #menu-icon {
    background-color: $black;
    @include space($type: padding, $sizeTwo: $space-xs-2 $space-sm-1);
    color: $white;
    font-size: $font-size-xl;
  }

  .drop-menu {
    @include space($type: padding, $direction: top, $size: $space-xs-1);
    background-color: $drop-menu-background;
    
    display: none;
    width: 182px;
    position: absolute;
    top: 38px;
    font-size: $font-size-xs;
    line-height: 22px;
    &__list{
      width: 100%;
    }
    &__item {
      @include space($type: margin, $direction: bottom, $size: $space-xs-2);
      @include space($type: padding, $direction: left, $size: $space-sm-1);
      &:hover {
        cursor: pointer;
        background-color: $list-hover;
      }
    }

    &__link--active {
      color: $active;
    }
  }

  .enabled {
    @include flex(
      $direction: column,
      $justifyContent: flex-start,
      $alignItems: flex-start
    );
  }
}

@media screen and (min-width: $breakpoint-md) {
  .burger {
    display: none;
  }

  .navbar-menu {
    &__list {
      @include flex(
        $direction: row,
        $justifyContent: center,
        $alignItems: center
      );
      font-size: $font-size-xs;
    }

    &__item:not(:last-child) {
      @include space($type: margin, $direction: right, $size: $space-sm-1);
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .navbar-menu {
    &__item:not(:last-child) {
      @include space($type: margin, $direction: right, $size: $space-m);
    }
  }
}
