.main {
  @include flex($direction: column, $justifyContent: center, $alignItems: null);
  @include space ($type:margin,$sizeTwo:$space-auto);
  max-width: 1200px;
  

  &__header {
    @include flex(
      $direction: row,
      $justifyContent: center,
      $alignItems: center
    );
    @include space ($type:margin,$sizeTwo:$space-auto);
    width: 90%;
  }

  &__img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    @include space ($type:margin,$direction:top,$size:$space-sm-2);
    @include space ($type:margin,$direction:bottom,$size:$space-m);
 
  }

  .posts {
    @include flex(
      $direction: column,
      $justifyContent: center,
      $alignItems: null
    );
    // width: 90%;
    // margin: 0 auto;
    &__title {
      color: $title-color;
      font-size: $font-size-l;
      @include space ($type:margin,$direction:bottom,$size:$space-sm-2);
      @include space ($type:margin,$direction:left,$size:$space-xs-3);
    }

    &__content {
      @include flex(
        $direction: column,
        $justifyContent: center,
        $alignItems: flex-start
      );
      @include space ($type:margin,$sizeTwo:$space-auto);
      width: 90%;
     
    }
    
    &__column {

      .post {
        @include flex(
          $direction: column,
          $justifyContent: center,
          $alignItems: flex-start
        );
        
      @include space ($type:margin,$direction:bottom,$size:$space-sm-3);

        &--disabled {
          display: none;
        }

        &__image {
          
      @include space ($type:margin,$direction:bottom,$size:$space-sm-1);
        }

        &__title {
          font-size: $font-size-m;
          font-weight: 700;
          color: $title-color;
         
      @include space ($type:margin,$direction:bottom,$size:$space-xs-1);
        }

        &__text {
          color: $post-text-color;
          font-size: $font-size-xs;
        }

        &__info--disabled {
          display: none;
          color: $post-info-color;
          
      @include space ($type:margin,$direction:top,$size:$space-sm-1);
          font-size: $font-size-m;
          line-height: 26px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .main {

    &__img {
      
      @include space ($type:margin,$direction:top,$size:$space-m);
      @include space ($type:margin,$direction:bottom,$size:$space-xl);
     
    }

    .posts {

      &__column {

        .post {
          @include flex(
            $direction: row,
            $justifyContent: flex-start,
            $alignItems: center
          );
          
      @include space ($type:margin,$direction:bottom,$size:$space-sm-3);
          &--disabled {
            @include flex(
              $direction: row,
              $justifyContent: flex-start,
              $alignItems: center
            );
          }

          &__content {
            
      @include space ($type:margin,$direction:left,$size:$space-sm-2);
          }

          &__info--disabled {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .main {

    &__img {
      
      @include space ($type:margin,$direction:bottom,$size:$space-lg);     
      @include space ($type:margin,$direction:bottom,$size:$space-xl);
     
    }

    .posts {

      &__content {
        @include flex(
          $direction: row,
          $justifyContent: center,
          $alignItems: null
        );
      }

      &__column {
        @include flex(
          $direction: column,
          $justifyContent: center,
          $alignItems: flex-start
        );

        .post {
          flex-basis: 49%;
        }
      }
    }
  }
}
