$background:rgba(0, 0, 0, 0.0001);
$black:#000;
$white:#ffff;
$title-color: #4E4E4E;
$post-text-color: #7C7C7C;
$footer-header-color: #FEFEFE;
$footer-text-color: #B9B9B9;
$active: #57A4A4;
$drop-menu-background:#F5F5F5;
$post-info-color:#5C5C5C;
$list-hover:#E5E5E5;
$wifi:#F8902E;
$facebook: #39599F;
$twitter: #45B0E3;
$dribble:#D97AB0;
$pinterest:#CC212C;





