$breakpoint-s:375px;
$breakpoint-md:768px;
$breakpoint-lg:1200px;
$font-size-xs:11px;
$font-size-s:12px;
$font-size-sm:13px;
$font-size-m:14px;
$font-size-l:16px;
$font-size-xl:20px;
$space-xs-1:5px;
$space-xs-2:8px;
$space-xs-3:5%;
$space-sm-1:10px;
$space-sm-2:20px;
$space-sm-3:30px;
$space-m:40px;
$space-lg:50px;
$space-xl:60px;
$space-auto:0 auto;